
[title="ArticleType"]{
    color:rgb(219, 219, 215) !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
    background: #4c5d83!important;
    transition: all 0.8s;
    .ant-space{
        background: #4c5d83!important;
        transition: all 0.8s;
    }
}
.ant-popoverinner:hover{
    background: #4c5d83!important;
}
    

.ant-table-cell{
    border: 1px black;
}
.richEditor{
    max-width: 800px;
}
.ql-container.ql-snow {
    border-color: lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ant-btn-primary.searchBtn, .articletable{
    position: relative;
    bottom: 17px;
}