.ant-layout{
    height: 100vh;
    background-color: #0b0a09;

    .demo-logo-vertical{
        height: 64px;
        display: flex;
        align-items: center;
        // justify-content: center;
        h4{
            color:#ce9b57;
            font-size: 26px;
            width: 100%;
            
        }
    }

    .demo-logo-vertical img:hover{
        cursor: pointer;
    }

    header{
        text-align: end;
        color:#ce9b57;
        background-color: #001529;
        .user{
            font-size: 15px;
            span{
                padding: 0 5px;
            }
        }
        button{
            margin: 0 20px;
        }
    }
    main div{
        color:#ffffff;
        background-color: #001529;
        height: 96%;
    }
    .ant-layout-sider-zero-width-trigger{
        margin-top: 4px;
    }

    .user{
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .user svg:hover {
      transform: scale(1.1); /* Slightly enlarge icon on hover */
      color: #1890ff; /* Change color on hover */
      transition: transform 0.3s ease, color 0.3s ease;
    }
}
