.profileContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

    .barChart, .pieChart{
        height: 240px;
        width: 270px;
        @media (max-width: 768px) {
            width: 100%;
            height: auto;
        }
    }

    div.ant-card{
        border-radius: 2%;    
        padding: 5px 0px;
        // text-align: center;
        @media (max-width: 768px){
            width: 90%;
            height: auto;
            margin: 0 auto;
        }
        @media(max-width: 480px){
            width: 100%;
        }
        h4{
            font-size:40px;
            // @media(max-width: 768px){
            //     font-size: 28px;
            // }
        }
        .avatar{
            width: 140px;
            height: 130px;
            border-radius: 50%;
            // @media(max-width: 768px){
            //     width: 100px;
            //     height: 100px;
            // }
        }
    }
}